.main {
    min-height: calc(100vh - 140px);
    background-color: aliceblue;
    /*padding-bottom: 40px;*/
}

header .navbar-brand {
    text-transform: uppercase;
    color: mediumblue;
}

header .navbar-brand:hover,
header .navbar-brand:focus {
    opacity: 0.5;
}

header .navbar-brand:active {
    opacity: 0.3;
}

header .btn {
    margin-left: 20px;
}

.navbar-collapse {
    justify-content: flex-end;
}

header .nav-item {
    margin-left: 30px;
}

.title {
    margin-bottom: 30px;
    display: block;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}

.main .container {
    padding-top: 20px;
}

.list-group {
    margin: 0;
    padding: 30px 0;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.list-group-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 25px 25px 35px;
    margin-bottom: 40px;
    text-align: center;
    justify-content: space-between;

    border-radius: 30px;
}

.list-group-item:last-child {
    margin-bottom: 40px;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 30px;
}

.list-group-item .btn {
    border-radius: 3px;
    margin: 0 -5px 0;
    align-self: center;
}

.project-title {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

.project-list {
    padding: 0 0 10px;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.project-item {
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 15px;
}

.project-item div {
    position: relative;
    top: 12px;
    flex-grow: 1;
    border-bottom: 1px dotted rgba(94, 92, 92, 0.5);
}

.project-type {
    padding: 0;
    font-weight: 700;
}


.project-description {
    padding: 0;
    max-width: 45%;
}

.project-item:last-child .project-description {
    margin-left: 10px;
    max-width: 100%;
}

.project-photo {
    margin-bottom: 40px;
    width: 100%;
    min-height: 10px;
}

.project-photo img {
    width: 100%;
}

.inner-page {
    padding-top: 80px;
}

.inner-page .list-group-item {
    padding-bottom: 25px;
}

.contacts-title {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

.contacts-description {
    font-size: 18px;
    line-height: 30px;
}

.dropdown {
    min-height: 60px;
}

.footer {
    background-color: silver;
}

.footer .container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .list-group-item:nth-child(2n) {
        margin-left: 20px;
    }
}

@media (min-width: 1200px) {
    .list-group-item:last-child {
        margin-bottom: 40px;
    }

    .list-group-item:nth-child(2n) {
        margin-left: 40px;
    }

    .list-group-item:nth-child(3n) {
        margin-left: 40px;
    }
}
